body {
   margin-top: 70px;
   background-color: antiquewhite;
}

.h1 {
   color: chocolate;
}

.websocket-status-led {
   border-radius: 50%;
   width: 10px;
   height: 10px;
   /*margin: 0px 10px;*/
   display: inline-block;
}

.websocket-connected.websocket-status-led {
   background-color: #5cb85c;
}

.websocket-not-connected.websocket-status-led {
   background-color: #d9534f;
}
