body {
   margin-top: 60px;
   background-color: antiquewhite;
}

.h1 {
   color: chocolate;
}

#websocket_status_led_id {
   border-radius: 50%;
   width: 10px;
   height: 10px;
   /*margin: 0px 10px;*/
   display: inline-block;
}

.websocket-connected #websocket_status_led_id {
   background-color: #5cb85c;
}

.websocket-not-connected #websocket_status_led_id {
   background-color: #d9534f;
}

.websocket-connected button {
   visibility: visible;
}

.websocket-connected #websocket_conn_status_field_id::after {
   content: 'Connected';
   color: #5cb85c;
   margin-right: 10px;
}

.websocket-not-connected #websocket_conn_status_field_id::after {
   content: 'Disconnected';
   color: #d9534f;
   margin-right: 10px;
}

#websocket_conn_status_container_id button {
   display: none;
}
