<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
   <a class="navbar-brand" href="#">Rpi_008</a>
   <ul class="nav navbar-nav">
      <li class="nav-item">
         <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/uno">Uno</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/zero">Zero</a>
      </li>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
         <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
         </div>
      </li>
   </ul>
   <div id="websocket_conn_status_container_id"
        class="float-xs-right navbar-nav websocket-not-connected">
      <div  class="nav-link">
         <span id="websocket_conn_status_field_id"></span>
         <div id="websocket_status_led_id"></div>
         <button id="ws_close_btn_id" class="btn btn-outline-success">Close</button>
      </div>
   </div>
</nav>
